table {
  border-spacing: 10px;
  margin: auto;
  margin-top: 450px;
}
img {
  height: 400px;
  width: 700px;
  position: absolute;
  right: 19.5%;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Rock Salt', cursive;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: lightgray;
}
td {
  font-family: 'Rock Salt', cursive;
  font-size: 16px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
}
